.bestSellingBody{
    height: 100vh;
    width: 92%;
    margin-left: 8%;
    padding: 40px 40px 40px 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* overflow: hidden; */


    

}
.bestSellingBody h1{
    font-weight: 400;
    padding-bottom: 30px;
}
.categ{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.category-card{
    flex: 1 1 150px !important;
    margin: 30px !important;
}