.category-card{
    width: 180px;
    height:250px;

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

    background-color: #DAF5DA;
    border-radius: 15px;

    
}

.category-card span{
    font-size: 1.1rem;
}
.category-card img{
    max-width: 100%;
    width: 114px;
    padding-bottom: 10px;
    transition: all .1s ease-in-out;
}
.category-card img:hover {
   transform: scale(1.1);
}