.brands{
    display: flex;
    column-gap: 30px;
    justify-content: center;
    margin-top: 100px;
    flex-wrap: wrap;
}
.brands div img{
    width: 100%;
}
.brands div{
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.334);
    width: 250px;
}

@media (max-width: 768px){
    .brands div{
        width: 140px;
    }
    .brands{
        column-gap: 20px;
        row-gap: 20px;
    }
}