*{
    list-style: none;
    text-decoration: none;
}

.navibody{
    position: fixed;
    left: 0;
    height: 100%;
    width: 8%;

    /* background-color: aquamarine; */
    box-shadow: -3px 1px 19px 3px rgba(0,0,0,0.10);
    -webkit-box-shadow: -3px 1px 19px 3px rgba(0,0,0,0.15);
    -moz-box-shadow: -3px 1px 19px 3px rgba(0,0,0,0.48);

    display: flex;   
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 20px 0;
}

.logo{
    width: 100%;
    /* height: 80px; */
    text-align: center;
}
.logo img{
    max-width: 100%;
    width: 55%;
    /* height: 100%; */ 

    /* padding: 0 20px 0 20px; */
}
.icons2{
    width: 100%;
    /* display: f; */
}
.icons2 img{
    max-width: 35%;
}
.icon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.routes{
    width: 100%;
}
.routes ul li{
    list-style: none;
    text-align: end;
    padding-right: 15px;
    width: 100%;
    line-height: 55px;

    transition: .2s ease-in-out;
}
.routes ul li a {
    
    font-size: 1.1rem;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    color:#201e1e;    
    text-transform: uppercase;

    /* cursor: url("../Images/click.gif"),default; */
}
.routes ul li:hover{
    background-color: #8dd08a;
    padding-right: 25px;
}
.routes a:active .routes li{
    background-color: #8dd08a;
}

@media (max-width: 1279px){
    .navibody{
        
        display: none;
    }
}
