.thirdBody{
    width: 92%;
    margin-left:8%;
    height: 120vh;
    padding: 40px;
}

.prodFilter{
    display: grid;
    grid-template-columns: 75% 25%;

    padding: 40px 0 40px 0;
}
.prods{
    display: flex;
    /* gap:20px; */
    flex-wrap: wrap;
    justify-content: space-between;

    padding-right:25px;
}